<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>464484462983-ng86gv0famq7imop62495v07laolhud1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.464484462983-ng86gv0famq7imop62495v07laolhud1</string>
	<key>API_KEY</key>
	<string>AIzaSyDkW5U8K7EHJmLxweISD8Q6ryq7B_9njZs</string>
	<key>GCM_SENDER_ID</key>
	<string>464484462983</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.broadwayinfosys.news-app</string>
	<key>PROJECT_ID</key>
	<string>news-app-74d82</string>
	<key>STORAGE_BUCKET</key>
	<string>news-app-74d82.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:464484462983:ios:3eda694e55be4296dc6322</string>
</dict>
</plist>